body {
    display: flex;
    flex-direction: column;
}

body {
    font-family: "vk-sans";
    background-color: #0d1323;
    color: white;
}

.navbar,
footer {
    background-color: #1a1a1a;
    min-height: 10vh;
}

.navbar {
    display: flexbox;
    border-bottom: 5pt solid rgb(255, 0, 0);
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
}

footer {
    border-top: 5pt solid rgb(255, 0, 0);
    text-align: center;
}