@font-face {
    font-family: "vk-sans";
    src: url(../fonts/VKSansDisplay-Medium.ttf);
}

html,body {
    display: flex;
    height: 100vh;
    flex-direction:column;
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
.navbar {
    border-bottom: 5pt solid white;
    width: 100vw;
    height: 10%;
    position: fixed;
    top: 0;
}
.center-block {
    padding-top: 10em;
    display: flex;
    justify-content: center;
    text-align: left;
}
h1,
h2 {
    display: block;
    font-family: "vk-sans";
    background: #ffffff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #274046, #ffffff7d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #274046, #ffffff7d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: gradient 3s infinite linear;
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Стили для плавающей кнопки */
.float-button {
    position: fixed;
    width: 5vh;
    height: 5vh;
    bottom: 10vh;
    left: 50vw;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 50%; /* Круглая форма */
    text-align: center; /* Центровка иконки */
    box-shadow: 0px 0px 3vh rgba(255, 255, 255, 0.7); /* Тень под кнопкой */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: #ffffff;
    transition: background-color 0.4s ease;
}
.bi{
    font-size: 5vh;
}
.float-button:hover {
    box-shadow: 0px 0px 2vh rgba(255, 255, 255, 0.5);
    background-color: #323232; /* Изменение цвета при наведении */
}
h1 {
    font-size: 11vw;
}
footer{
    border-top: 5pt solid white;
}
main {
    flex-grow: 1;
}
@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }

    50% {
        background-position: 20% 100%;
    }

    100% {
        background-position: 80% 0%;
    }
}